@charset "UTF-8";

/* reset style */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;}
html,body,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ol,ul,li,blockquote,pre,button,fieldset,form,legend,table,caption,tbody,tfoot,thead,tr,th,td,iframe,article,aside,canvas,details,embed,figure,figcaption,header,main,footer,menu,nav,section,summary,audio,video,code, a{margin:0;padding:0;border:0;font-size:inherit;font-family:inherit;vertical-align:baseline; box-sizing: border-box;}

html{font-size:10px;}
body{font-size:16px;line-height:1.6;letter-spacing:-0.3px;font-family:'Pretendard','맑은고딕',Malgun Gothic;color:#000c;}
img,fieldset{border:none;}
figure,figcaption{margin:0;padding:0;}
b,strong{font-weight: 700;}
em,dfn,cite,address,i{font-style:normal;}
mark{background-color:#ff0;color:#000;}
small{font-size:90%;}
sup,sub{position:relative;font-size:0.9em;line-height:0;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
del{text-decoration:line-through;}
label{cursor:pointer;}
a{text-decoration: none;color:#565C63;}
a:active,a:hover{text-decoration:none}

ol,ul,li{list-style:none;}
table{table-layout: fixed; border-collapse:collapse;border-spacing:0;}
caption{position:absolute;width:1px;height:1px;margin:0;padding:0;background:none;font-size:3px;color:transparent;line-height:0;}
legend{position:absolute;width:1px;height:1px;margin:0;padding:0;background:none;font-size:3px;color:transparent;line-height:0;}
hr{visibility:hidden;overflow:hidden;position:absolute;height:0;width:0;font-size:0;}

.clearfix:after{display:block;visibility:hidden;clear:both;content:'';overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
.clearfix{display:inline-block !important;}
.clearfix{display:block !important;}
.clear{clear:both;}
.hide{display:none !important;}
.skip{position:absolute;width:1px;height:1px;margin:0;padding:0;background:none;font-size:3px;color:transparent;line-height:0;}

/* 입력 form */
input,select,textarea,button{font-size:100%;vertical-align:middle;text-transform:none;font-family:inherit;color:inherit;border:none;box-sizing:border-box;}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type="radio"],input[type="checkbox"]{-webkit-appearance:none;border-radius:0}
input:checked[type='checkbox']{-webkit-appearance:checkbox}
input[disabled="disabled"]{background-color:#ebebeb;color:#959595;}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none;}

button{vertical-align:middle;border:none;cursor:pointer;text-transform:none;background-color:transparent;}
button,input[type="button"],input[type="submit"],input[type="reset"],input[type='file']{border-radius:0;background-color:transparent;cursor:pointer;}

select[disabled="disabled"]{background-color:#ebebeb;color:transparent;}
textarea{resize:none;}